.document-main {
  height: 500px
}
.document-main .btn {
  margin: 5px 0px;
  padding: 5px 10px;
  display: block;
  width: 100%;
  color: #fff;
  border: none;
  background-color: rgb(89, 107, 126)
}
.document-main_link {
  color: blue;
}
@media (min-width: 998px) {
  .document-main {
    height: 700px
  }
}
@media (max-width: 997px) {
  .document-main {
    height: 500px
  }
}