.santanter-challenge-manager_container {
    padding:0px!important;
}
.banking-challenge-manager_button {
    padding: 0 19px !important;
}
.banking-challenge-manager_button-accept {
    height: 38px!important;
}
.banking-challenge-manager_alert {
    color:#ff0000fc;
    font-weight: 500;
}
.banking-challenge-manager_footer{
    background: #41484E;
    height: 65px;
  }
  .banking-challenge-manager_footer button {
      color: #fff!important;
  }